name: deploy-github-page
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{secrets.ACCESS_TOKEN}}
      - run: docker-compose run build-page
      - uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          BRANCH: gh-page # The branch the action should deploy to.
          FOLDER: _build/html # The folder the action should deploy.
        
